*{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
}
//fonts
$font-headings: 'News Cycle', sans-serif;
$font-text: 'Lato', sans-serif;
//colors

$highlight: #EFD7BF;
$light: #cfc4cd;
$mid: #5D6370;

$shadow:	#19171C