.contact{
display: grid;
 grid-template-columns: repeat(5, 1fr);
    &-header{
        grid-column: 1/2;
    }
    &-body{
        grid-column: 3/-1;
    }
    form{
        display:flex;
        flex-direction: column;
        padding: 2%;
        
        input{
            @include form(2%,3%)
        }
        textarea{
            @include form(2%,3%);
            height: 18vh;
            border-style:none;
            
        }
        button{
            @include form(2%,0);
            height: 10vh;
            background: $highlight;
        }
    }
    
}

 @media only screen and (max-width: 1000px){
 .contact{
    &-body{
        grid-column: 1/-1;
        max-width: 300px;
    }
 }

}