img{
    width: 100%;
    overflow:hidden;
}

.header-container{
  font-family: $font-headings; 
  min-width: 950px;
    &-text{
        color: $light-primary;
        margin: 35% 10px 0px 10px;
        overflow:hidden;
      
       h1, h2{
        text-transform: uppercase;
       }
       font-size: 250%;
   
    }

    img{
        width: 100%;
    }
   
}

.menu{
  grid-row: 1;
  grid-column: 1/-1;
  justify-self:center;
  align-self: center;

display:none;
  &.open{
    display: inline;
    color: $light-primary;
  

  }
  li{
    list-style-type:none;
  }
}
.nav{
  grid-row: 1;
  grid-column: 1;
  position: fixed;
}

// hamburger menu icon
#nav-icon1{

    width: 60px;
    height: 45px;
  
    margin: 40px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span{
        display: block;
    position: absolute;
    height: 10px;
    width: 100%;
    background:  $light-primary;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:nth-child(1) {
        top: 0px;
      }
    &:nth-child(2) {
        top: 18px;
      }
    &:nth-child(3) {
        top: 36px;
      }      
    }
    &.open span:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      &.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      &.open span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
      
  }
  