 @mixin graph($row,$col) {
            grid-column: 2 / span $col;
            grid-row:$row;
            background:$light-mid;
            & span{
              position: absolute;
               z-index: 5;
                 text-transform: uppercase;

            }
        }
@mixin form($marg,$padding){
    color:$shadow-mid;
    text-transform: uppercase;
    margin: $marg;
    padding:$padding;
}