 @mixin graph($row,$col) {
            grid-column: 2 / span $col;
            grid-row:$row;
            background:$light-mid;
            & span{
              
                background:$shadow-mid;
                padding: 10px 60px 10px 5px;

            }
        }
@mixin form($marg,$padding){
    color:$shadow-mid;
    text-transform: uppercase;
    margin: $marg;
    padding:$padding;
}