.skills{
    display: flex;
   
    &-info{
        padding:20px 0 0 0;
        width: 50%;
        color:$mid;
       font-family: $font-text;
      
        .circle{ 
        padding-top: 30px;
        margin: auto;
        width: 20vw;
        min-width: 300px;
        max-width: 430px;
        height: 34vh;
        min-height: 300px;
        max-height:430px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        }
        img {
         
          display: inline;
          margin:-12% 0% 0% -6%;
          height: 145%;
          width: auto;
        }
        h3{
          padding:45px 60px 0 60px;
          color:$shadow;
        }
        p{
         padding:10px 60px 0 60px;
        }
    }
    &-graph{
    font-family: $font-text;
    
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(26,1fr); 
    h3{

      grid-column: 2/-1;
      grid-row: 2;
      color:$shadow;
      font-size: 4vh;
    }
    li{
     
        list-style-type: none;
        color:$highlight;
        align-self:center;
        animation-name: moving;
        animation-duration: 3s;
        height:100%;
        
          &:before{

            	content: '';
              position: absolute;
              background-color: $mid;
              height: 30px;
              width:13%;
              min-width: 85px;
              max-width: 140px;
              z-index: 4;
          }        
        &:nth-child(2){
           @include graph(2,12);
        
        
        }
       
        &:nth-child(3){
            @include graph(4,12);
        }
        &:nth-child(4){
            @include graph(6,11);
        }
        &:nth-child(5){
            @include graph(8,10);
        }
        &:nth-child(6){
            @include graph(10,13);

        }
        &:nth-child(7){
            @include graph(12,8);

        }
        &:nth-child(8){
            @include graph(14,7);

        }

        &:nth-child(9){
            @include graph(16,10);

        }
        &:nth-child(10){
            @include graph(18,10);

        }
        &:nth-child(11){
            @include graph(20,12);

        }
        &:nth-child(12){
            @include graph(22,11);

        }
        &:nth-child(13){
            @include graph(24,11);

        }

    }
    }
    
  
 
}


@keyframes moving {
  0%{width: 0%}
  100%{width: 100%;}
}